/.bundle/
/.yardoc/
/_yardoc/
/doc/
/coverage/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

.env
.idea/
.vscode/
*.swp

Gemfile.lock

/yardoc/
/test/tmp/

/checksums/
/complete/
/objects/
